{% extends 'base.html.twig' %}

{% block body %}
    <div class="container regime-table" style="margin-top: 100px;">
        <h1 class="mb-4">Modifier un Plat</h1>

        {{ form_start(form) }}
        
        <div class="form-group">
            {{ form_label(form.nomplat, 'Nom du Plat', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.nomplat, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.cout, 'Coût', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.cout, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.nbreCalories, 'Nombre de Calories', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.nbreCalories, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ingredients, 'Ingrédients', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.ingredients, {'attr': {'class': 'form-control'}}) }}
        </div>

<div class="form-group">
            {{ form_label(form.regime, 'Régime', {'label_attr': {'class': 'font-weight-bold'}}) }}
            {{ form_widget(form.regime, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_end(form) }}

        <div class="form-group mt-3">
                <a href="{{ path('home2') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>


    </div>
{% endblock %}
